# 测试环境。复制为 docker/.env 后，只改 PLATFORM_BASE_DOMAIN。
#   cp docker/.env.example docker/.env

PLATFORM_BASE_DOMAIN=shop.test

MYSQL_ROOT_PASSWORD=wchabc123!!
MYSQL_PORT=3308
ADMIN_WEB_PORT=8090
STORE_WEB_PORT=8091
H5_PORT=8092
APP_JAVA_OPTS="-Xms256m -Xmx1024m"
APP_MEM_LIMIT=1536m
JAVA_OPTS="-Xms128m -Xmx512m"
BACKEND_MEM_LIMIT=768m
SHOP_ROCKETMQ_ENABLED=false
